body {
    background-color: green;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin: 0 10px;
    padding: 15px;
}

button:hover {
    cursor: pointer;
    background-color: #444;
}

#card-area {
    margin: 80px;
}